*{
    margin: 0;
    padding: 0;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.section_one_block{
    width: 100vw;
    height: 100vh;    
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.one_block{
    width: inherit;
    height: inherit;
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;

}
footer{
    background-color: #0f0f0f;
    padding-top: 75px;
    padding-bottom: 75px;
    width: inherit;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.silki{
    display: flex;
    color: white;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}
h1{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: xxx-large;
}
p{
    color: white;
}
a{
    text-decoration: none;
    width: 17.5%;
}
.div_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 400px;
}
input{
    height: 60px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    outline: none;
    border: hidden;
}
button{
    height: 60px;
    color: black;
    background-color: white;
    transition: 0.3s;
}
button:hover{
    background-color: rgb(227, 225, 225);
    background-color: rgb(227, 225, 225);
    outline:1px solid rgba(255, 255, 255, 0.3);
    outline-width: 3px;
}
.image{
    background-image: url(./image/i-no-bg-preview\ \(carve.photos\).png);
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
}