* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: 1s;
}

.create_customers_section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f0f8ff; 
}

.create_customers {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

input {
    text-align: center;
    height: 60px;
    width: 150px;
    background-color: #e0f7fa; 
    color: #004d66; 
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0 10px;
    font-family: "Unbounded", sans-serif;
    font-size: 1rem;
    transition: all 0.3s ease;
}

input:focus {
    box-shadow: 0 0 8px rgba(0, 77, 102, 0.4);
    background-color: #b2ebf2; 
}

h1 {
    color: #005f73; 
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: xxx-large;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: #005f73;
    margin: 10px 0;
}

a {
    text-decoration: none;
    width: 17.5%;
    color: #006494;
    font-family: "Unbounded", sans-serif;
    font-size: 1rem;
    transition: color 0.3s;
}

a:hover {
    color: #0096c7; 
}

button {
    height: 60px;
    width: 150px;
    color: #000; 
    background-color: #66c2ff; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Unbounded", sans-serif;
    font-size: 1rem;
}

button:hover {
    background-color: #3399cc; 
    outline: 1px solid rgba(0,0,0,0.2);
}

footer {
    background-color: #f0f8ff; 
    padding-top: 75px;
    padding-bottom: 75px;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 400px) {
    h1 {
        font-size: 32px;
        padding: 20px;
    }
    .div_input {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    footer {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}