* {
    padding: 0;
    margin: 0;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: 1s;
}

.create_customers_section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #0f0f0f; 
}

.create_customers {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

input {
    text-align: center;
    height: 60px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.2); 
    color: white;
    outline: none;
    border: none; 
    border-radius: 8px; 
    padding: 0 10px;
    font-family: "Unbounded", sans-serif;
    font-size: 1rem;
    transition: all 0.3s ease;
}

input:focus {
    box-shadow: 0 0 8px rgba(255,255,255,0.4);
}

h1 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: xxx-large;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: white;
    margin: 10px 0;
}

a {
    text-decoration: none;
    width: 17.5%;
    color: #ffffff;
    font-family: "Unbounded", sans-serif;
    font-size: 1rem;
    transition: color 0.3s ease;
}

a:hover {
    color: #ddd;
}

button {
    height: 60px;
    width: 150px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Unbounded", sans-serif;
    font-size: 1rem;
}

button:hover {
    background-color: rgb(227, 225, 225);
    outline: 1px solid rgba(255, 255, 255, 0.3);
}

footer {
    background-color: #0f0f0f; 
    padding-top: 75px;
    padding-bottom: 75px;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media (max-width:400px){
    h1{
        font-size: 32px;
        padding: 20px;
    }
    .div_input{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    footer{
        padding-top: 35px;
        padding-bottom: 35px;
    }
}