* {
  margin: 0;
  padding: 0;
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition-duration: 1s;
}

.section_one_block {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #121212; 
  background: linear-gradient(135deg, #0f0f0f, #1a1a1a); 
}

.one_block {
  max-width: 400px;
  min-width: 200px;
  min-height: 500px;
  background-color: rgba(20, 20, 20, 0.95); 
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); 
}

h1 {
  color: #ffffff; 
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: xxx-large;
  text-align: center;
}

.reg_forma {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
input {
  height: 60px;
  padding: 0 20px;
  background-color: rgba(255,255,255,0.2);
  color: white;
  outline: none;
  border: none;
  border-radius: 8px;
  font-family: "Unbounded", sans-serif;
  font-size: 1rem;
  transition: all 0.3s ease;
}

input:focus {
  outline: none;
  border: 2px solid #fff;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

button {
  height: 60px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff; 
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgb(227, 225, 225);
  outline: 1px solid rgba(255, 255, 255, 0.3);
}

footer {
  margin-top: 20px;
  text-align: center;
}

.vhod {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  font-family: "Unbounded", sans-serif;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.vhod:hover {
  color: #ddd;
}
@media (max-width:400px){
  *{
        text-align: center;
        align-items: center;
    }
    button{
        width: 70%;
    }
    input{
        width: 70%;
    }
    h1{
      font-size: 32px;
      padding-bottom: 15px;
    }
    footer{
        width: 100%;
    }
    footer .silki{
        width: 100vw;
        text-wrap: wrap;
    }
}