*{
    padding: 0;
    margin: 0;
    font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.section_one_block{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./image/modern-office-interi.jpg);
    background-size: cover;
    background-position: center;
}
.one_block{
    width: 700px;
    height: 500px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.2);
}
h1{
    color:ivory;
    font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.input_login{
    width: 200px;
    height: 70px;
}
.input_password{
    width: 200px;
    height: 70px;
}
.avtorization{
    height: 40px;
    width: 150px;
}
.silki{
    align-items: end;
    text-align: end;
}